* {
	box-sizing:border-box;
}
body {
	margin: 0;
	padding: 0;
}
body {
    background: black;
    font-family: Trebuchet, Arial, Helvetica, Sans-serif;
}
.wrapper {
    width: 490px;
    height: 1000px;
    margin: 20px auto 0 auto;    
	background: black url('../images/cellulaire.png') center top no-repeat;
	background-size: contain;
	position: relative;
}
.haut {
    position: absolute;
    width: 427px;
    height: 100px;
    top: 132px;
    left: 32px;
}
#afficheur {
    width: 315px;
    height: 86px;
    margin: 7px auto;
    background-color: transparent;
    background-image: url(../images/champ.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    line-height: 56px;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    padding: 15px;
}
.numeros {
    position: absolute;
    width: 427px;
    height: 548px;
    top: 232px;
    left: 32px;
    padding: 7px;
}
.numeros > div {
    float: left;
    width: 123px;
    height: 123px;
    margin: 7px;
}
.numero {
	background-color: transparent;
	background-image: url('../images/boutons-numeros.png');
	background-position: 0 0;
    background-size: 500% 500%;
	background-repeat: no-repeat;
}
.numero.no0 {
	background-position: 0% 25%;
}
.numero.no1 {
	background-position: 25% 25%;
}
.numero.no2 {
	background-position: 50% 25%;
}
.numero.no3 {
	background-position: 75% 25%;
}
.numero.no4 {
	background-position: 100% 25%;
}
.numero.no5 {
	background-position: 0% 50%;
}
.numero.no6 {
	background-position: 25% 50%;
}
.numero.no7 {
	background-position: 50% 50%;
}
.numero.no8 {
	background-position: 75% 50%;
}
.numero.no9 {
	background-position: 100% 50%;
}

.numero.no0.on {
	background-position: 0% 75%;
}
.numero.no1.on {
	background-position: 25% 75%;
}
.numero.no2.on {
	background-position: 50% 75%;
}
.numero.no3.on {
	background-position: 75% 75%;
}
.numero.no4.on {
	background-position: 100% 75%;
}
.numero.no5.on {
	background-position: 0% 100%;
}
.numero.no6.on {
	background-position: 25% 100%;
}
.numero.no7.on {
	background-position: 50% 100%;
}
.numero.no8.on {
	background-position: 75% 100%;
}
.numero.no9.on {
	background-position: 100% 100%;
}
.boutons {
    position: absolute;
    width: 427px;
    height: 100px;
    top: 762px;
    left: 32px;
}
.boutons > div {
    width: 100px;
    height: 100px;
	position:absolute;
	top:0;
    background-color: transparent;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#jouer {
	left: 15px;
    background-image: url(../images/play.png);
}
#vider {
	right: 15px;
    background-image: url(../images/reset.png);
}
