.carreau1   {background-position: 0       -183px !important;}
.carreau2   {background-position: -130px  -183px !important;}
.carreau3   {background-position: -260px  -183px !important;}
.carreau4   {background-position: -390px  -183px !important;}
.carreau5   {background-position: -520px  -183px !important;}
.carreau6   {background-position: -650px  -183px !important;}
.carreau7   {background-position: -780px  -183px !important;}
.carreau8   {background-position: -910px  -183px !important;}
.carreau9   {background-position: -1040px -183px !important;}
.carreau10  {background-position: -1170px -183px !important;}
.carreau11  {background-position: -1300px -183px !important;}
.carreau12  {background-position: -1430px -183px !important;}
.carreau13  {background-position: -1560px -183px !important;}

.coeur1     {background-position: 0       -366px !important;}
.coeur2     {background-position: -130px  -366px !important;}
.coeur3     {background-position: -260px  -366px !important;}
.coeur4     {background-position: -390px  -366px !important;}
.coeur5     {background-position: -520px  -366px !important;}
.coeur6     {background-position: -650px  -366px !important;}
.coeur7     {background-position: -780px  -366px !important;}
.coeur8     {background-position: -910px  -366px !important;}
.coeur9     {background-position: -1040px -366px !important;}
.coeur10    {background-position: -1170px -366px !important;}
.coeur11    {background-position: -1300px -366px !important;}
.coeur12    {background-position: -1430px -366px !important;}
.coeur13    {background-position: -1560px -366px !important;}

.pique1     {background-position: 0       -549px !important;}
.pique2     {background-position: -130px  -549px !important;}
.pique3     {background-position: -260px  -549px !important;}
.pique4     {background-position: -390px  -549px !important;}
.pique5     {background-position: -520px  -549px !important;}
.pique6     {background-position: -650px  -549px !important;}
.pique7     {background-position: -780px  -549px !important;}
.pique8     {background-position: -910px  -549px !important;}
.pique9     {background-position: -1040px -549px !important;}
.pique10    {background-position: -1170px -549px !important;}
.pique11    {background-position: -1300px -549px !important;}
.pique12    {background-position: -1430px -549px !important;}
.pique13    {background-position: -1560px -549px !important;}

.trefle1    {background-position: 0       -732px !important;}
.trefle2    {background-position: -130px  -732px !important;}
.trefle3    {background-position: -260px  -732px !important;}
.trefle4    {background-position: -390px  -732px !important;}
.trefle5    {background-position: -520px  -732px !important;}
.trefle6    {background-position: -650px  -732px !important;}
.trefle7    {background-position: -780px  -732px !important;}
.trefle8    {background-position: -910px  -732px !important;}
.trefle9    {background-position: -1040px -732px !important;}
.trefle10   {background-position: -1170px -732px !important;}
.trefle11   {background-position: -1300px -732px !important;}
.trefle12   {background-position: -1430px -732px !important;}
.trefle13   {background-position: -1560px -732px !important;}
