* {
	box-sizing:border-box;
}
html {
    height: 100%;
}
body, p {
	margin:0;
	padding:0;
}
body {
    background: #b6e2fb url(../images/background.jpg) center top no-repeat;
    background-size: contain;
    height: 100%;
}
.wrapper {
    position: relative;
    width: 1234px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px;
}
.titre {
    font-family: monospace;
    font-size: 45px;
    color: #4b849f;
    line-height: 90px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.boutonsGauche {
    float: left;
    width: 617px;
    padding: 10px;
    margin-left: -10px;
}
.boutonsDroite {
    float: left;
    width: 617px;
    padding: 10px;
    margin-right: -10px;
}
button {
    border-radius: 3px;
    color: #004276;
    border: 1px solid #004276;
    background: #eeeeee;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: .4em 1em;
    display: inline-block;
    position: relative;
    line-height: normal;
    margin: 7px 0;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
    text-align: left;
    width: 595px;
    height: 50px;
    box-shadow: 2px 2px 2px rgba(0, 66, 118, 0.75);
    -moz-box-shadow: 2px 2px 2px rgba(0, 66, 118, 0.75);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 66, 118, 0.75);
}
button > span {
    color: #cc0000;
}
button:hover {
    color: #cc0000;
    border-color: #cc0000;
    box-shadow: 2px 2px 2px rgba(204, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 2px rgba(204, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 2px rgba(204, 0, 0, 0.75);
}
button:hover > span {
    color: #004276;
}
button:active {
    color: #66ab37;
    border-color: #66ab37;
    background: #ffffff;
    box-shadow: 2px 2px 2px rgba(102, 171, 55, 0.75);
    -moz-box-shadow: 2px 2px 2px rgba(102, 171, 55, 0.75);
    -webkit-box-shadow: 2px 2px 2px rgba(102, 171, 55, 0.75);
}
button:active > span {
    color: #66ab37;
}
.cartes {
	overflow:hidden;
    padding: 20px 24px;
    width: 1214px;
    border: 3px solid #4B8822;
    background-color: #66ab37;
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(102, 171, 55, 0.75);
    -moz-box-shadow: 5px 5px 5px rgba(102, 171, 55, 0.75);
    -webkit-box-shadow: 5px 5px 5px rgba(102, 171, 55, 0.75);
}
.cartes > li {
    float: left;
    margin: 10px 30px;
    width: 130px;
    height: 183px;
    border: 1px solid transparent;
    border-radius: 5px;
    list-style: none;
    box-shadow: 4px 4px 4px rgba(75, 75, 75, 0.75);
    -moz-box-shadow: 4px 4px 4px rgba(75, 75, 75, 0.75);
    -webkit-box-shadow: 4px 4px 4px rgba(75, 75, 75, 0.75);
    background: white url(../images/cartesAngryBirds.png) 0 0 no-repeat;
}