* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
}
body {
    background-color: transparent;
	background-position: center top;
	background-repeat: no-repeat;
}
body.angrybirds {
    background-image: url(../images/background_angrybirds.jpg);
}
body.starwars {
    background-image: url(../images/background_starwars.jpg);
}
body.supermario {
    background-image: url(../images/background_supermario.jpg);
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1000px;
}
.skins {
    margin: 30px auto;
    padding: 15px;
    width: 752px;
    height: 176px;
	background-color:#ffffffB0;
}
.skin {
	cursor: pointer;
    float: left;
    margin: 15px;
    width: 208px;
    height: 108px;
    background-color: transparent;
    background-repeat: no-repeat;
	background-position: 0 0;
    background-size: 500% 100%;
    background-image: url(../images/skins.png);
}
.skin.skin1 {
	background-position: 25% 0;
}
.skin.skin2 {
	background-position: 50% 0;
}
.skin.skin3 {
	background-position: 75% 0;
}
.persos {
    margin:0 auto;
    padding: 15px;
    width: 752px;
    height: 752px;
	background-color:#ffffffB0;
}
.perso {
    float: left;
    margin: 15px;
    width: 200px;
    height: 200px;
    background-color: transparent;
    background-repeat: no-repeat;
	background-position: 0 0;
    background-size: 600% 600%;
}